<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-10 col-lg-8 col-sm-10">
					<br>
					<br>
					<h1 class="mb-2">
						Data Job in Kalibbr 
					</h1>
					<h3>
						Reported Period: April 12th 2023
					</h3>
					<br>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-4 col-sm-4">
					<div class="card card-stats">
						<div class="card-header">
							<div class="card-icon">
								<i></i>
							</div>
							<h2 class="card-title">
								225
							</h2>
							<h4 class="card-category">
								job openings scrapped
							</h4>
						</div>
					</div>
				</div>
			</div>
			
		<div class="row">
			<div class="col-md-12 col-lg-12 col-sm-12">
				<div class="tab">
					<button class="tablinks" onclick="openTab(event, 'location') " id="defaultOpen">by Location
					</button>
					<button class="tablinks" onclick="openTab(event, 'company')">by Company
					</button>
					<button class="tablinks" onclick="openTab(event, 'day')">by Day Posted
					</button>
					<button class="tablinks" onclick="openTab(event, 'employment')">by Employment Type
					</button>
					<button class="tablinks" onclick="openTab(event, 'category')">by Category
					</button>
					<button class="tablinks" onclick="openTab(event, 'industry')">by Industry
					</button>
					<button class="tablinks" onclick="openTab(event, 'position')">by Position
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-12 col-sm-12">
				<!-- Tab content -->
				<div id="location" class="tabcontent">
					<br>
					<div class="img-container">
						<embed type="text/html" src="static/plots/location.html" width="800" height="500">
					</div>
				</div>
				<div id="company" class="tabcontent">
					<br>
					<div class="img-container">
						<embed type="text/html" src="static/plots/company.html" width="800" height="500">
					</div>
				</div>
				<div id="day" class="tabcontent">
					<br>
					<div class="img-container">
						<embed type="text/html" src="static/plots/day.html" width="800" height="500">
					</div>
				</div>
				<div id="employment" class="tabcontent">
					<br>
					<div class="img-container">
						<embed type="text/html" src="static/plots/employment.html" width="800" height="500">
					</div>
				</div>
				<div id="category" class="tabcontent">
					<br>
					<div class="img-container">
						<embed type="text/html" src="static/plots/category.html" width="800" height="500">
					</div>
				</div>
				<div id="industry" class="tabcontent">
					<br>
					<div class="img-container">
						<embed type="text/html" src="static/plots/industry.html" width="800" height="500">
					</div>
				</div>
				<div id="position" class="tabcontent">
					<br>
					<div class="img-container">
						<embed type="text/html" src="static/plots/position.html" width="800" height="500">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript">
function openTab(evt, idName) {
	// Declare all variables
	var i, tabcontent, tablinks;

	// Get all elements with class="tabcontent" and hide them
	tabcontent = document.getElementsByClassName("tabcontent");
	for (i = 0; i < tabcontent.length; i++) {
	tabcontent[i].style.display = "none";
	}

	// Get all elements with class="tablinks" and remove the class "active"
	tablinks = document.getElementsByClassName("tablinks");
	for (i = 0; i < tablinks.length; i++) {
	tablinks[i].className = tablinks[i].className.replace(" active", "");
	}

	// Show the current tab, and add an "active" class to the button that opened the tab
	document.getElementById(idName).style.display = "block";
	evt.currentTarget.className += " active";

	}
	document.getElementById("defaultOpen").click();	
</script>